<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<p>

<h1><%=user.id%>: <%=user.name%></h1>
<p>address: <%=user.address%></p>
<p>email: <%=user.email%></p>

</body>
</html>