
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">
    <meta charset="UTF-8">
    <title>LiveSchool</title>
</head>

<body>

<div id="web_bg" style="background-image: url(school_above.jpg);"></div>

<div class="bg_darken_box">
    <div class="banner"><img src="live_school.png" width="120" height="70"> <img src="innovare_logo.png" width="120" height="45"></div>

    <div class="text-block">

        <header-text>CONNECTING REMOTE SCHOOLS WITH EXPERT TEACHERS</header-text>

        <p>LiveSchool offers low-cost teaching to schools in <br>
            developing areas through flexible, live-streamed lessons.</p>

        <form action="/teacher_profile.html">
            <input type="text" name = "email" placeholder="Email"><br>
            <input type="text" name = "password" placeholder="Password"><br><br>
            <button type="submit">Log in</button>
        </form><br>

        <button type="small"><b>School sign-up</b></button>
        <button type="small"><b>Teacher sign-up</b></button>
    </div>

</body>
</html>