
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <meta charset="UTF-8">
    <title>LiveSchool</title>
</head>


<body>

<div id="web_bg" style="background-image: url('/img/mountain_road.jpg'); background-size: 100%"></div>

<div class="bg_darken_box">
    <div class="banner">
        <img src="/img/liveschool_logo.png" height="40px" align="left">
        <img src="/img/innovare_logo.png"  height="40px" align="right">
    </div>

    <div class="text-block">

        <header-text>CONNECTING REMOTE SCHOOLS WITH EXPERT TEACHERS</header-text>

        <p>LiveSchool offers low-cost English teaching to schools in <br>
            developing areas through flexible, live-streamed lessons.</p>

        <form action="./teacher_profile.ejs">
            <input type="text" name = "email" placeholder="Email"><br>
            <input type="password" name = "password" placeholder="Password"><br><br>
            <button type="submit">Log in</button>
        </form><br>


        <button class="button_signup" onclick="{location.href='./signup_school.ejs'}">School Sign-up</button>
        <button class="button_signup" onclick="{location.href='./signup_teacher.ejs'}">Teacher Sign-up</button>


    </div>
</div>

</body>
</html>