body, html {
    height: 100%;
    color: white;
    font-family: "Lato";
}
#web_bg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.bg_darken_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.text-block {
    position: absolute;
    text-align: center;
    min-width: 600px;
    top: 25%;
    right: 20%;
    left: 20%;
    /*background-color: rgba(255, 255, 255, 0.4);*/
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    font-family: "Lato";
}

title-text {
    font-size: 80px;
    color: white;
    text-align: center;
}

input[type=text] {
    width: 300px;
    padding: 10px 10px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
}

button[type=submit] {
    background-color: rgba(0,0,0,0.7);
    width: 300px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin: 0px 0px;
}

button[type=small] {
    background-color: rgba(255,255,255,0.6);
    width: 150px;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    margin: 0px 0px;
}