
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">
    <script src = "/js/login.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>LiveSchool</title>
</head>

<body>

<div id="web_bg" style="background-image: url('/img/mountain_road.jpg');"></div>

<div class="bg_darken_box">
    <div class="banner">
        <img src="/img/liveschool_logo.png" width="220" height="50" align="left">
        <img src="/img/innovare_logo.png" width="120" height="45" align="right">
    </div>

    <div class="text-block">

        <header-text>CONNECTING REMOTE SCHOOLS WITH EXPERT TEACHERS</header-text>

        <p>LiveSchool offers low-cost teaching to schools in <br>
            developing areas through flexible, live-streamed lessons.</p>

        <form action="./teacher_profile">
            <input type="text" name = "email" placeholder="Email"><br>
            <input type="text" name = "password" placeholder="Password"><br><br>
            <button type="submit">Log in</button>
        </form><br>


        <button class="button_signup" onclick="{location.href='./signup_school'}" id="school_sign_up">School Sign-up</button>
        <button class="button_signup" onclick="{location.href='./signup_teacher'}" id="teacher_sign_up">Teacher Sign-up</button>



    </div>
</div>

</body>
</html>