<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher-signup</title>
    <link href="reg.css" rel = "stylesheet" type="text/css">
    <link href="common.css" rel = "stylesheet" type="text/css">
</head>

<body>
<header class = "reg-header"><h1 class = "logo"></h1><span class = "pageName"> Sign Up </span>
 </header>

<!--content-->
<h2 class="reg-title"> Welcome to sign up for LiveSchool! </h2>
<div class = "reg-form clearfix">
    <div class="form-role role-teacher">
        <div class = "img"> </div>
        <span class = "btn HC-fillet"> I am teacher </span>
    </div>
    <div class="form-main">
        <form id="myForm" id="myForm">
                <input type="hidden" name="appCode" id="appCode" value="sr" />
                <input type="hidden" name="state" id="state" value="" />
                <input type="hidden" name="roleType" id="roleType" value="4" />


                <div class="form-item clearfix">
                    <label class="reg-label email-label"></label>
                    <div class="field"><input class="ipt" type="text" id="email" name="email" placeholder="Please enter your email address, which will be used as userID"></div>
                </div>


                <div class="form-item clearfix">
                    <label class="reg-label pwd-label"></label>
                    <div class="field">
                        <input type="password" id="password" name="password" class="ipt" placeholder="Password should be 6-14 characters long"  onkeyup="checkPassword('password');"/>
                    </div>
                </div>

                <div class="form-item clearfix">
                    <label class="reg-label pwd-label"></label>
                    <div class="field">
                        <input type="password" id="repeatPassword" name="repeatPassword" class="ipt" type="text" name="" placeholder="Please re-enter your password to confirm" onkeyup="checkPassword('repeatPassword');"/>
                    </div>
                </div>

                <div class="form-item clearfix">
                    <label class="reg-label subject-label"></label>
                    <div class="field">
                        <select id="specialty" name="specialty" class="chosen-select"><option value="01" title="English">English</option><option value="02" title="Maths">Maths</option><option value="03" title="History">History</option><option value="04" title="Physics">Physics</option><option value="05" title="Chemistry">Chemistry</option><option value="06" title="Biology">Biology</option><option value="07" title="Phychology">Phychology</option><option value="08" title="Computer Science">Computer Science</option><option value="09" title="Music">Music</option><option value="10" title="Art">Art</option></select>
                    </div>
                </div>

                <div class="form-item clearfix">
                    <label class="reg-label location-label"></label>
                    <div class="field field-location">
                        <span class="st"><select id="countryId" name="countryId" class="countrySelect chosen-select area"><option value="">Please select country...</option></select></span>
                        <span class="st"><select id="provinceId" name="provinceId" class="stateSelect chosen-select area"><option value="">Please select state...</option></select></span>
                        <span class="st st-last"><select id="cityId" name="cityId" class="citySelect chosen-select area"><option value="">Please select city...</option></select></span>
                    </div>
                </div>

                <div class="form-item clearfix">
                    <label class="reg-label authcode-label"></label>
                    <div class="field field-authcode">
                        <input class="ipt" type="text" id="randCode" name="randCode" placeholder="Please enter the authcode">
                    </div>
                    <div class="form-authcode"><img src="/oc/register/randImage.do" title="Click to refresh the authcode" id="randCodeImg" onclick="changeImg()"/></div>
                </div>
            </form>

            <div class="form-btn clearfix">
                <a href="###" class="default HC-fillet" onclick="register();">Sign Up</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>