/* register
-------------------------------------------------------------- */
.reg-title{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom:40px;
    color: #dc2828;
    font-family: "Comic Sans MS";
}


/*** sign up form ***/
.reg-form{
    padding-left: 200px;
    margin-left: 22%;
}

.reg-form .form-role{
    position: absolute;
    width: 150px;
    margin-left: -200px;
}

.reg-form .form-role .img{
    width: 150px;
    height: 150px;
}

.reg-form .form-role .btn{
    display: block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin:20px auto 10px auto;
    font-size: 14px;
    border-radius: 3px;
}

.reg-form .form-role.role-school .img{
    background: url(img/school.png) no-repeat;
    background-size: 150px 150px;

}

.reg-form .form-role.role-school .btn{
    border: 1px solid #E25647;
    color: #E25647;
}

.form-role.role-teacher .img{
    background: url(img/teacher.svg) no-repeat;
    background-size: 150px 150px;
}

.reg-form .form-role.role-teacher .btn{
    border: 1px solid #3CBEA6;
    color: #3CBEA6;
}

.reg-form .form-role .tip{
    text-align: center;
    color: #999;
}




.reg-form .form-item{
    margin-bottom: 20px;
}

.reg-form .form-item .reg-label{
    float: left;
    width: 38px;
    height: 38px;
    margin-right: 9px;
    border: 1px solid #ddd;
    background: url(img/reg-icon.png) no-repeat;
}

.reg-form .form-item .email-label{
    background-position: 10px 10px;
}

.reg-form .form-item .pwd-label{
    background-position: 10px -67px;
}

.reg-form .form-item .subject-label{
    background-position: 8px -258px;
}

.reg-form .form-item .location-label{
    background-position: 10px -150px;
}

.reg-form .form-item .authcode-label{
    background-position: 9px -28px;
}

.reg-form .form-item .field{
    float: left;
    width: 314px;
}

.reg-form .form-item .field-location{
    width: 390px;
}

.reg-form .form-item .field-location .st{
    float: left;
    margin-right: 14px;
}

.reg-form .form-item .field-location .st-last{
    margin: 0;
}

.reg-form .form-item .ipt{
    width: 296px;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 8px;
}

.reg-form .form-item .field-authcode{
    width: 214px;
}

.reg-form .form-item .field-authcode .ipt{
    width: 196px;
}


.reg-form .form-authcode{
    float: left;
}

.reg-form .form-btn{
    width: 362px;
    margin-top:40px;
}

.reg-form .form-btn .default{
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 2px;
    color: #fff;
    background: #46a5f8;
}

.reg-form .form-btn .default:hover{
    background: #2086e0;
}

.reg-form .form-btn .submit{
    width: 100%;
    height: 40px;
    line-height: 39px;
    border: 0 none;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
    background: #dc2828;

}
