<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="profile.css">

</head>
<body>

<script>
    var x = 'dashboard';
    function c(y) {
        if (y != x) {

            document.getElementById(y).style.display = "block";
            document.getElementById(x).style.display = "none";
        }
        x = y;
    }
</script>

<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="school.png"/>
        <h2> School </h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-dashboard"><a href="#" onclick="c('dashboard');"><span>Dashboard</span></a></li>
        <li tabindex="0" class="icon-teacher"><a href="#" onclick="c('teacher');"><span>Teacher</span></a></li>
        <li tabindex="0" class="icon-class"><a href="#" onclick="c('class');"><span>Class</span></a></li>
        <li tabindex="0" class="icon-subject"><a href="#" onclick="c('subject');"><span>Subject</span></a></li>
        <li tabindex="0" class="icon-timetable"><a href="#" onclick="c('timetable');"><span>Timetable</a></li>
        <li tabindex="0" class="icon-setting"><a href="#" onclick="c('setting');"><span>Setting</span></a></li>
    </ul>
</nav>


<main>
    <div class="helper">
        <div id="dashboard" style="display:block">Home</div>
        <div id="teacher" style="display:none">Here are teachers</div>
        <div id="class" style="display:none">Here are classes</div>
        <div id="subject" style="display:none">Here are subjects</div>
        <div id="timetable" style="display:none">Here are timetables</div>
        <div id="setting" style="display:none">Here are settings</div>
    </div>
</main>


</body>
</html>