<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"></script>

</head>

<body>


<div class = "header_image" style="background: url('/img/lake_house.png'); background-size: 100%;">

    <div class="bg_darken_box">

        <div class="banner">
            <img src="/img/liveschool_logo.png" height="40px" align="left">
            <img src="/img/innovare_logo.png"  height="40px" align="right">
        </div>

        <header_text>TAILORED LESSONS FROM EXPERT TEACHERS</header_text>

        <script>
            var x = 'dashboard';

            function c(y) {
                if (y != x) {
                    document.getElementById(y).style.display = "block";
                    document.getElementById(x).style.display = "none";
                }
                x = y;
            }
        </script>

        <div class="navbar" id="myNavbar">
            <a href="/logout">Log out</a>
            <a href="#" onclick="c('search_teachers');">Find teachers</a>
            <a href="#" onclick="c('dashboard');">Dashboard</a>
            <div class = "left_menu_button"><a href="#" onclick="c('about');">About LiveSchool</a></div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>



    </div>

</div>


<div class="rest_of_page">
    <table>
        <tr>
            <td>
                <div class = "profile_summary">
                    <img src="/img/puthukkudiyiruppu_college.jpg" width="150"><br>
                    <b>Puthukkudiyiruppu Central College</b><br>
                    <p>Our school was founded on 5 January 1955 by the Hindu Vittiya Development
                        Association with the name Srisubramanya Vidyalayam. The school currently contains
                        classes from grade six to Advanced Level.<br></p>
                </div>
            </td>

            <td>
                <div class="main_content">

                    <div id="dashboard">
                        <h2>Dashboard</h2>
                        <p>Temporary information for development</p>
                        <p>Name: <b><i><%= school_name %></i></b></p>
                        <p>Country: <b><i><%= country %></i></b></p>
                        <p>Timezone: <b><i><%= timezone %></i></b></p>
                        <p>Your next English class is with Luciano Floridi at 3pm on Wednesday</p>
                        <h3>Your Teachers</h3>
                        <p><b>Luciano Floridi</b><br>
                            I am currently Professor of Philosophy of Information
                            and Director of the Digital Ethics Lab, at the University of Oxford,
                            and Research Associate and Fellow in Information Policy at the Department
                            of Computer Science, University of Oxford.    [Contact | Remove]</p>
                        <p><b>Steve Meyer</b><br>
                            I'm a former college professor with formal training in ESL (English
                            as a Second Language) teaching, and offer custom classes at all levels
                            of English proficiency.  [Contact | Remove]</p>
                    </div>

                    <div id="search_teachers" style="display: none">
                        <h2>Search for matching teachers</h2>

                        <form action="./">
                            <p>Choose the day of your English class:</p>
                            <select name="select_day_of_week">
                                <option value="" disabled selected hidden>select day...</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select><br>
                            <p>Choose the time of your English class (00:00-23:30):</p>
                            <input type="text" name = "time" placeholder="select time..."><br><br>
                            <button type="submit">Search teachers</button>
                        </form><br>
                    </div>
            </td>
        </tr>
    </table>
</div>

</body>

