<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"></script>

</head>

<body>


<div class = "header_image" style="background: url('/img/lake_house.jpg'); background-size: 100%;">

    <div class="bg_darken_box">

        <div class="banner">
            <img src="/img/liveschool_logo.png" width="220" height="50" align="left">
            <img src="/img/innovare_logo.png" width="120" height="45" align="right">
        </div>

        <header_text>ACCESS FIRST-CLASS ENGLISH TEACHING. ANYWHERE.</header_text>

        <script>
            var x = 'dashboard';

            function c(y) {
                if (y != x) {
                    document.getElementById(y).style.display = "block";
                    document.getElementById(x).style.display = "none";
                }
                x = y;
            }
        </script>

        <div class="navbar" id="myNavbar">
            <a href="./">Log out</a>
            <a href="#" onclick="c('search_teachers');">Find teachers</a>
            <a href="#" onclick="c('dashboard');">Dashboard</a>
            <div class = "left_menu_button"><a href="#" onclick="c('about');">About</a></div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>



    </div>

</div>


<div class="rest_of_page">
    <table>
        <tr>
            <td>
                <div class = "profile_summary">
                    <img src="/img/puthukkudiyiruppu_college.jpg" width="150"><br>
                    <b>Puthukkudiyiruppu Central College</b><br>
                    <p><b>Your Bio</b><br>
                    <p>Our school was founded on 5 January 1955 by the Hindu Vittiya Development
                        Association with the name Srisubramanya Vidyalayam. The school currently contains
                        classes from grade six to Advanced Level.<br></p>
                </div>
            </td>

            <td>
                <div class="main_content">

                    <div id="dashboard">
                        <h2>Dashboard</h2>
                        <p>Your next English class is with Luciano Floridi at 3pm on Wednesday</p>
                        <h3>Your Teachers</h3>
                        <p>Luciano Floridi [Contact | Remove]</p>
                        <p>Steve Meyer [Contact | Remove]</p>
                    </div>

                    <div id="search_teachers" style="display: none">
                        <h2>Search for matching teachers</h2>

                        <p>Search box will go here.</p>

                    </div>
            </td>
        </tr>
    </table>
</div>

</body>

