<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <script src = "/js/login.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="web_bg" style="background-image: url('/img/mountain_road.jpg');"></div>
    <div class="banner">
        <img src="/img/liveschool_logo.png" height="40px" align="left">
        <img src="/img/innovare_logo.png"  height="40px" align="right">
    </div>

</br>
signup scuccess</br>


<input type="button" onclick="location.href='/';" value="Go back to home Page" />
<!--<button class="button_signup" onclick="{location.href='/'}">Go back to home Page</button>-->
<!--<form action="/index">-->
    <!--<button type="submit">Go back to home Page</button>-->
<!--</form><br>-->

</body>
</html>




