<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="web_bg" style="background-image: url('/img/mountain_road.jpg'); background-size: 100%"></div>
    <div class="banner">
        <img src="/img/liveschool_logo.png" height="40px" align="left">
        <img src="/img/innovare_logo.png"  height="40px" align="right">
    </div>

</br>
signup scuccess</br>


<input type="button" onclick="location.href='/';" value="Go back to home Page" />
<!--<button class="button_signup" onclick="{location.href='/'}">Go back to home Page</button>-->
<!--<form action="/index">-->
    <!--<button type="submit">Go back to home Page</button>-->
<!--</form><br>-->

</body>
</html>




