<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LiveSchool</title>
    <link rel="stylesheet" href="../public/css/profile.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">
    <script src="/jquery/jquery.js"></script>



</head>
<body>

<div id="web_bg" style="background-image: url('../public/img/sri_lanka_tea_plantation.jpg');"></div>

<script>
    var x = 'dashboard';
    function c(y) {
        if (y != x) {
            document.getElementById(y).style.display = "block";
            document.getElementById(x).style.display = "none";
        }
        x = y;
    }
</script>

<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="../public/img/martin_profile.jpg"/>
        <h2> Martin </h2>
        <p>PhD Candidate & experienced tutor, Department of Computing and Information Systems, Melbourne School of Engineering, University of Melbourne</p>
    </header>
    <ul class="left_part">
        <li tabindex="0" class="icon-dashboard"><a href="#" onclick="c('dashboard');"><span>Dashboard</span></a></li>
        <li tabindex="0" class="icon-timetable"><a href="#" onclick="c('timetable');"><span>My Times</span></a></li>
        <li tabindex="0" class="icon-school"><a href="#" onclick="c('school');"><span>Matching Schools</span></a></li>
        <li tabindex="0" class="icon-signOut"><a href="./index.html" onclick="c('log_out');"><span>Log out</span></a></li>
        <!--<form action="./index.html">-->
            <!--<button type="submit">Log out</button>-->
        <!--</form>-->
    </ul>
</nav>

<main>
    <div class="helper">
        <div id="dashboard">
            <h1>Dashboard</h1>
            Next class is Web Programming with Unimelb at 8 a.m. on Wednesday<br><br><br>

            <div style="display: inline-block"><h2>My subjects</h2>
            Computer Science [remove]</p></div>
            <div style="display: inline-block; margin-left: 20px"><h2>My schools</h2>
                Colegio Intisana [contact]</p></div>


            <!--<form>
                <button type="submit">Contact School</button>
            </form>-->
        </div>


        </div>
    </div>
</main>


</body>
</html>