<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"></script>

</head>

<body>


    <div class = "header_image" style="background: url('/img/winding_road.jpg'); background-size: 100%">

        <div class="bg_darken_box">

            <div class="banner">
                <img src="/img/liveschool_logo.png" height="40px" align="left">
                <img src="/img/innovare_logo.png"  height="40px" align="right">
            </div>

            <header_text>CREATE YOUR OWN SCHEDULE.</header_text>

            <script>
                var x = 'dashboard';

                function c(y) {
                    if (y != x) {
                        document.getElementById(y).style.display = "block";
                        document.getElementById(x).style.display = "none";
                    }
                    x = y;
                }
            </script>

            <div class="navbar" id="myNavbar">
                <a href="/logout">Log out</a>
                <a href="#" onclick="c('timetable');">Your availabilities</a>
                <a href="#" onclick="c('dashboard');">Dashboard</a>
                <div class = "left_menu_button"><a href="#" onclick="c('about');">About LiveSchool</a></div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>



        </div>

    </div>


         <div class="rest_of_page">
             <table>
                 <tr>
                    <td>
                        <div class = "profile_summary">
                            <img src="/img/luciano_floridi.jpg" width="150"><br>
                                <h2>Teacher: <%= teacher_name %></h2>
                                <p>Bio: <%= bio %></p>
                        </div>
                    </td>

                     <td>
                        <div class="main_content">

                            <div id="dashboard">
                                <h2>Dashboard</h2>
                                <p>Country: <b><i><%= country %></i></b></p>
                                <p>Timezone: <b><i><%= timezone %></i></b></p>
                                <p>Your next English class is with Puthukkudiyiruppu Central College at 8pm on Wednesday</p>

                                <h3>Your Schools</h3>
                                <b>Puthukkudiyiruppu Central College</b><br>
                                <p>Our school was founded on 5 January 1955 by the Hindu Vittiya Development
                                    Association with the name Srisubramanya Vidyalayam. The school currently contains
                                    classes from grade six to Advanced Level.  [Contact | Remove]<br></p>
                                <b>Jiangsu Tongzhou High School</b><br>
                                <p>Large school in eastern China looking for English lessons from a native
                                    speaker.  [Contact | Remove]<br></p>
                            </div>

                            <div id="timetable" style="display: none">
                                <h2>Your Availabilities</h2>

                                <p>Click on timetable and drag to create a new timeslot, or to move an existing one.</p>

                                <div id="schedule2" style="width: 600px; height: 100%"></div>

                                <script>
                                    $(function () {
                                        $("#schedule2").jqs();

                                        $("#export").click(function () {
                                            $("#result").val($("#schedule2").jqs('export'));
                                        })
                                    });

                                    // $("#schedule2").jqs({
                                    //     mode: "edit",
                                    //     periodBackgroundColor: 'rgba(100, 203, 62, 0.7)',
                                    //     data: [
                                    //         {
                                    //             day: 0,
                                    //             periods: [
                                    //                 ["20:00", "00:00"],
                                    //                 ["00:00", "02:00"]
                                    //             ]
                                    //         }, {
                                    //             day: 3,
                                    //             periods: [
                                    //                 ["00:00", "08:30"],
                                    //                 ["09:00", "12:00"]
                                    //             ]
                                    //         }
                                    //         , {
                                    //             day: 5,
                                    //             periods: [
                                    //                 ["03:00", "07:30"],
                                    //                 ["06:00", "12:00"]
                                    //             ]
                                    //         }
                                    //     ]
                                    // });

                                    var time_data = $("#schedule").jqs('export');
                                    // var time_data;
                                    function saveTimetable() {
                                        // time_data = $('#schedule').jqs('export');
                                        console.log(time_data);
                                        jQuery.ajax({
                                            type:"POST",
                                            url:"/update_teacher",
                                            dataType:"json",
                                            contentType: "application/json; charset=utf-8,",
                                            // data: JSON.stringify()


                                            success: function (time_data) {
                                                alert(time_data);

                                            },
                                            failure: function (errMsg){
                                                alert(errMsg);
                                            }
                                        });

                                    }

                                    // JS code here to export availabilities as variable
                                    // JS function here to POST variable to a predefined route/control-path
                                    // that updates the current teacher's availabilities in the DB.
                                    // [below script] button with "onClick = "thefunction()"

                                </script>
                                <!--<button name="save" onclick="saveTimetable()"></button>-->
                                <input type="button" value="Click" onclick="saveTimetable() "/>


                                <>

                            </div>
                        </div>
                     </td>
                 </tr>
             </table>
         </div>

</body>

</html>