<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LiveSchool</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="index.css">

</head>
<body>

<div id="web_bg" style="background-image: url('sri_lanka_jungle.jpg');"></div>

<script>
    var x = 'dashboard';
    function c(y) {
        if (y != x) {
            document.getElementById(y).style.display = "block";
            document.getElementById(x).style.display = "none";
        }
        x = y;
    }
</script>

<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="martin_profile.jpg"/>
        <h2> Martin </h2>
    </header>
    <ul class="left_part">
        <li tabindex="0" class="icon-dashboard"><a href="#" onclick="c('dashboard');"><span>Dashboard</span></a></li>
        <li tabindex="0" class="icon-timetable"><a href="#" onclick="c('timetable');"><span>My Times</span></a></li>
        <li tabindex="0" class="icon-school"><a href="#" onclick="c('subjects');"><span>Matching Schools</span></a></li>
        <li tabindex="0" class="icon-school"><a href="#" onclick="c('school');"><span>Matching Schools</span></a></li>
    </ul>
</nav>

<main>
    <div class="helper">
        <div id="dashboard" style="display:block">Home</br></br></br>
            <form action="./live_school_teacher.html">
                <button type="submit">Go to Live School</button>
            </form>
        </div>
        <div id="school" style="display:none">Here are schools</div>
        <div id="class" style="display:none">Here are classes</div>
        <div id="subject" style="display:none">Here are subjects</div>
        <div id="timetable" style="display:none">Here are timetables</div>
        <div id="setting" style="display:none">Here are settings</br></br></br>
            <form action="./index.html">
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>
</main>


</body>
</html>