<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">

    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/jquery.schedule.css">
    <script src="/js/jquery.schedule.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/jquery-ui.js"></script>

</head>

<body>


    <div class = "header_image" style="background: url('/img/sri_lanka_tea_plantation.jpg');">

        <div class="bg_darken_box">

            <div class="banner">
                <img src="/img/liveschool_logo.png" width="220" height="50" align="left">
                <img src="/img/innovare_logo.png" width="120" height="45" align="right">
            </div>

            <header_text>TEACH. ANYWHERE. ANY TIME.</header_text>

            <script>
                var x = 'dashboard';

                function c(y) {
                    if (y != x) {
                        document.getElementById(y).style.display = "block";
                        document.getElementById(x).style.display = "none";
                    }
                    x = y;
                }
            </script>

            <div class="navbar" id="myNavbar">
                <a href="./">Log out</a>
                <a href="#" onclick="c('timetable');">Your availabilities</a>
                <a href="#" onclick="c('dashboard');">Dashboard</a>
                <div class = "left_menu_button"><a href="#" onclick="c('about');">About</a></div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>



        </div>

    </div>


         <div class="rest_of_page">
             <table>
                 <tr>
                    <td>
                        <div class = "profile_summary">
                            <img src="/img/luciano_floridi.jpg" width="150"><br>
                            <p><b>Your Bio</b><br>
                                I am currently Professor of Philosophy of
                                Information and Director of the Digital Ethics Lab,
                                at the University of Oxford, and Research Associate and Fellow
                                in Information Policy at the Department of Computer Science,
                                University of Oxford<br></p>
                        </div>
                    </td>

                     <td>
                        <div class="main_content">

                            <div id="dashboard">
                                <h2>Dashboard</h2>
                                <p>Your next English class is with Puthukkudiyiruppu Central College at 8pm on Wednesday</p>
                                <h3>Your Schools</h3>
                                <p>Puthukkudiyiruppu Central College [Contact | Remove]</p>
                                <p>Jiangsu Tongzhou High School [Contact | Remove]</p>
                            </div>

                            <div id="timetable" style="display: none">
                                <h2>Your Availabilities</h2>

                                <p>Click on timetable and drag to create a new timeslot, or to move an existing one.</p>

                                <div id="schedule2" style="width: 600px; height: 100%"></div>
                                <script>
                                    $(function () {
                                        $("#schedule2").jqs();

                                        $("#export").click(function () {
                                            $("#result").val($("#schedule2").jqs('export'));
                                        })
                                    });

                                    $("#schedule2").jqs({
                                        mode: "edit",
                                        data: [
                                            {
                                                day: 0,
                                                periods: [
                                                    ["20:00", "00:00"],
                                                    ["00:00", "02:00"]
                                                ]
                                            }, {
                                                day: 3,
                                                periods: [
                                                    ["00:00", "08:30"],
                                                    ["09:00", "12:00"]
                                                ]
                                            }
                                            , {
                                                day: 5,
                                                periods: [
                                                    ["03:00", "07:30"],
                                                    ["06:00", "12:00"]
                                                ]
                                            }
                                        ]
                                    });

                                </script>

                            </div>
                        </div>
                     </td>
                 </tr>
             </table>
         </div>

</body>

</html>