body {
    font-family: "Lato";
    color: white;
    padding: 0%;
    margin: 0%;
}

#web_bg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    background-size: contain;
    z-index:-10;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

main {
    position: relative;
    height: 100vh;
}
main .helper {
    background: rgba(255, 255, 255, 0.4);
    color: black;
    position: absolute;
    min-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1.2em 2em;
    margin: 20px;
    text-align: left;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px 1px 1px 1px;
    /*font-size: 2em;*/
}

td {
    vertical-align: top;
    padding-right: 2em;
}
main .helper span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.4em;
    display: block;
}
.menu {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
}
.menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;
    font-size: smaller;
}
.menu .avatar img {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    /*border: 4px solid #ffea92;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);*/
}
.menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
}
.menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}
.menu ul li {
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px 0px 0px 0px;
}
.menu ul li.icon-dashboard {
    background-image: url("../img/dashboard.svg");
}
.menu ul li.icon-school {
    background-image: url("../img/school.svg");
}
.menu ul li.icon-teacher {
    background-image: url("../img/teacher.svg");
}
.menu ul li.icon-signOut {
    background-image: url("../img/signOut.svg");
}
.menu ul li.icon-subject {
    background-image: url("../img/subject.svg");
}
.menu ul li.icon-timetable {
    background-image: url("../img/timetable.svg");
}
.menu ul li.icon-setting {
    background-image: url("../img/setting.svg");
}
.menu ul li.icon-class {
    background-image: url("../img/classroom.svg");
}

.menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
    outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        padding-left: 90px;
    }
    .menu {
        width: 90px;
    }
    .menu .avatar {
        padding: 0.5em;
        position: relative;
    }
    .menu .avatar img {
        width: 60px;
    }
    .menu .avatar h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 100px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu .avatar:hover h2 {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
    .menu ul li {
        height: 60px;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
    }
    .menu ul li span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        top: 50%;
        left: 80px;
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu ul li span:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }
    .menu ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
}
@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
    }
    .menu {
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }
    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: #5bc995;
    }
    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
    }
    .menu:focus {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
    }
}

p1{
    font-size: 20px;
}

button[type=submit] {
    background-color: rgba(0,0,0,0.7);
    width: 100px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 4px;
}

a:link{
    color: #FFFFFF ; text-decoration:none;
}
a:visited{
    color: #FFFFFF; text-decoration:none;
}
a:hover {
    color: #FFFFFF; text-decoration:underline;
}