body, html {
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Playfair Display";
    /*font-family: "Lora";*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.header_image {
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 240px;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

.bg_darken_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

header_text {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    height: 30px;
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-bottom: black 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Place the navbar at the bottom of the header, and make it stick */
.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* MENU BAR STUFF FROM W3 SCHOOLS */
/* Style the links inside the navigation bar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.left_menu_button {
    float: left;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Add a green background color to the active link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
    display: none;
}


/* Everything under header and nav menu */
.rest_of_page {
    position: relative;
    width: fit-content;
    top: 50px;
    left: 75px;
    overflow: hidden;
}

#dashboard {
    width: 80%;
}

/* Align table contents at top of cell */
td {;
    vertical-align: top;
    padding-right: 25px;
}

h2 {
    margin-top: 0px;
}

/* Left-hand side profile summary */
.profile_summary {
    position: relative;
    width: 300px;
    font-size: 12px;
    text-align: right;
    color: #636363;
}

/* Right-hand main content */
.main_content {
    width: 100%;
    font-size: 14px;
    text-align: left;
    border-left: 1px dashed grey;
    padding-left: 25px;
}

#browse_teachers {
    width: 800px;
}


/* Search form styling */
input[type=text], input[type=password], select[class=search], select[class=small_select], textarea {
    width: 300px;
    padding: 8px 8px;
    color: black;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

select[class=small_select] {
    width: 100px;
}

input:hover, input:focus {
    background-color: rgba(0,0,0,0.3);
}

button[type=submit], button[class=search] {
    background-color: rgba(100,203,62,1);
    width: 300px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 4px;
}
button[type=submit]:hover {
    background-color: rgba(100,203,62,0.7);
}

/* Custom scrollbar, with help from W3 schools
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,50,0,0.6);
}


/* Styling for availabilities table */
#availabilities {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    color: black;
    width: 100%;
    border-radius: 4px;
    /* Rounded border still not showing - need to change for headers, too. */
}

#availabilities td, #availabilities th {
    /*border: 1px solid #ddd;*/
    background-color: ghostwhite;
    padding: 8px;
}

#availabilities td:nth-child(even){background-color: #f4f4fa;}

#availabilities td:hover {background-color: #ebebf1;}

#availabilities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(96, 160, 100);
    color: white;
}




