h1{
    border: 5px solid #32afd4;
    padding: 10px;
    border-radius: 15px;
    font-size: 50px;
    width: auto;
    heigth: auto;
    text-align: justify-all;

    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 50%;*/

}



p {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}


body {
    background-color: #0b5c98;
    color: #666;
    /*margin-left: 12em;*/
    /*argin-right: 12em;*/
}

p {
    color: white;
}

blockquote {
    color: white;
}

li {
    color: white;
}

h2{
    background-color: #05385a;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;

}
